h1, h2, h3 {font-family: Arial;
  color: #c0cb7f;}

p, li, dl, table {font-family: Calibri;
  color: #5e5c56;}
body {background-color: #000;}
a {color: #677f51;
text-decoration: none;}
a:hover {color: #677f51;
text-decoration: underline;}
ul {list-style-type: square;}
ol {list-style-type: lower-greek;}
table {background-color: #222222;
font-weight: bold;
text-align: center;
width: 250px;
border: 1px solid #a64626;
border-collapse: collapse;}
dt {color: #a64626;
font-style: italic;}
